@import '../styles/parameters';

.buttonSound {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  border-radius: 4px;
  transition-duration: 400ms;
  >img {
    width: 25px;
    height: 25px;
  }
  &:hover {
    background-color: $orange2;
  }
}